Tmp/*
App/Logs/*
Config/database.php
Config/front-end-config.json
.idea
Data/Schemas/*
Data/User_files/*
Public/node_modules/*
Plugins/*
Lib/Node/node_modules/*
Lib/Node/npm-debug.log
Lib/Composer/vendor

