<div class="control_bar">
    <a href="javascript:void(0);" class="me">Dashboard</a>
    <h2>SmartBlocks</h2>
    <div class="clearer"></div>
</div>
<div class="blocks_container">
    <% _.each(blocks, function (block) { %>
    <% if(block.get('apps').length > 0) { %>
    <h3 class="block_name"><%= block.get('name') %></h3>
    <div class="block_section">

        <% _.each(block.get('apps'), function (app) { %>
        <% if (!app.get('dashboard_ignore')) { %>
        <div class="dashboard_app" data-appid="<%= app.get('id') %>" data-link="<%= app.get('link') %>" style="background-color: <%= block.get('color')%>" data-flip="0"
             data-description="<%= app.get('description') %>" data-link="<%= app.get('link') %>">
            <a class="nameLink" href="<%= app.get('link') %>"><%= app.get('name') %></a>

            <% if (!_.isNull(app.get('logoUrl'))) { %>
            <!--<% if (!_.isUndefined(app.get('logo_url'))) { %>-->
            <% if (block.get('token') != kernel) { %>
            <div>
                <img class="appLogo" src="<%= app.get('logo_url') %>"/>
            </div>
            <% }
            else { %>
            <div>
                <img class="appLogo" src="<%= app.get('logo_url') %>"/>
            </div>
            <%}%>
            <!--<%}%>-->
            <% }
            else { %>
            <div>
                <img class="appLogo" src="/Public/images/logo.png"/>
            </div>

            <%}%>
            <a href="javascript:void(0);" class="app_info_button">
               <img src="/images/icons/information.png" />
            </a>
        </div>
        <% } %>
        <% }); %>
        <div style="clear:both"></div>
        <div style="clear:both"></div>
    </div>
    <% } %>
    <% }); %>
</div>