<div class="pure-g-r">
    <div class="user_info pure-u-1-4">
        <div>
            <div class="picture">
                <img src="http://placehold.it/250x250" class="user_picture" alt="user_picture"/>
            </div>
            <div class="username">
                <%= user.get("username") %>
            </div>
            <div class="email">
                <%= user.get("email") %>
            </div>
            <div>
                <a href="javascript:void(0);">Change my password</a>
            </div>
        </div>
    </div>
    <div class="pure-u-3-4 contacts">
        <div>
            <div class="contacts_notifs">
                <h3>Notifications</h3>

                <div class="contact_requests_list_container">

                </div>
            </div>
            <div class="contacts_viewer">
                <h3>Your contacts</h3>
                <div class="contact_list_container">

                </div>
            </div>
            <div class="contact_finder">
                <h3>Find users</h3>

                <div class="user_search_container">

                </div>
            </div>
        </div>
    </div>
</div>