#file_sharing_container {

}

.k_file_sharing_main_container {
    position: absolute;
    background-color: white;
    top: 60px;
    left: 100px;
    width: 800px;
    /*box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);*/
    border: 1px grey solid;
    padding: 20px;
}

.k_fs_left_panel_container {
    background-color: white;
    float: left;
    width: 300px;
    height: 500px;
}

.k_fs_folder_browser_container
{
    background-color: white;
    height: 425px;
    margin-left: 300px;
    padding-top: 40px;
}

.k_fs_folder_browser {
    background-color: #f0f3f7;
    border: 1px solid #aaaaaa;
    overflow-y: scroll;
    height: 425px;
    padding-left: 20px;
    padding-top: 10px;
}

.k_fs_parent_folder
{
    border-radius: 5px;
    margin-bottom: -40px;
    padding: 5px 5px 5px 5px;
    position: relative;
    display: block;
    /*padding: 10px;*/
    float: left;
    background-color: #f0f3f7;
    border: 1px solid #aaaaaa;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_parent_folder:hover
{
    background-color: rgba(110, 144, 254, 0.4);

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_dragdrop_container {
    height: 40px;
    margin-left: 300px;
}

.k_fs_thumbnail {
    position: relative;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
    padding:5px;
    cursor:pointer;
    font-weight: bold;
    font-size: 1em;
    color: black;


    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_thunbnail_image {
    height: 70px;
    width: 64px;
    margin: auto;
    background-image: url("/images/file_small.png");
    background-repeat: no-repeat;
}

.k_fs_thunbnail_image.folder {
    background-image: url("/images/folder_small.png");

}

.k_fs_thunbnail_image.image_png, .k_fs_thunbnail_image.image_jpg,
.k_fs_thunbnail_image.image_jpeg, .k_fs_thunbnail_image.image_bmp  {
    background-image: url("/images/picture_small.png");
}

.k_fs_thunbnail_image.application_msword {
    background-image: url("/Apps/FileSharing/Resources/ms_icons_small.png");
    background-position: -256px -176px;
}

.k_fs_thunbnail_image.application_vnd_ms-excel {
    background-image: url("/Apps/FileSharing/Resources/ms_icons_small.png");
    background-position: -96px -96px;
}

.k_fs_thunbnail_image.application_vnd_ms-powerpoint {
    background-image: url("/Apps/FileSharing/Resources/ms_icons_small.png");
    background-position: -15px -96px;
}

.k_fs_thunbnail_image img {
    margin-left: 0px;
    margin-top: 0px;
}



.k_fs_thumbnail:hover {
    background-color: rgba(110, 144, 254, 0.16);
    /*color: white;*/
    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_fb_controls {
    position: relative;
    height: 50px;

}

.k_fs_controls a {
    display: block;
    height: 30px;
    float: left;
    background-color: #f0f3f7;
    color: black;
    width: 233px;
    margin: 10px;
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    font-size: large;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    border-radius: 10px;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_controls a:hover
{
    background-color: rgba(110, 144, 254, 0.4);
    color: white;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.file_upload_form {
    margin: auto;
    margin-top: 200px;
    width: 400px;
    background-color: white;
    padding: 20px;
}

.k_fs_thumbnail img {
    width: 50px;
}

.file_upload_form iframe {
    display: none;
}

.k_fs_foldp_user_selection, .k_fs_foldp_user_search_results {
    height: 200px;
    overflow: auto;
}

.k_fs_shared_folders_item
{
    margin-right: 30px;
    height: 30px;
    background-color: white;
    display: block;
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_shared_folders_item:hover {
    color: white;
    background-color: rgba(110, 144, 254, 0.4);

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_folder_creation_cancel_button, .k_fs_upload_cancel_button
{
    padding: 10px 10px 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #6e90fe;
    color: white;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.k_fs_folder_creation_cancel_button:hover, .k_fs_upload_cancel_button:hover
{
    color: #6e90fe;
    background-color: white;

    /* Firefox */
    -moz-transition: all 100ms ease-in;
    /* WebKit */
    -webkit-transition: all 100ms ease-in;
    /* Opera */
    -o-transition: all 100ms ease-in;
    /* Standard */
    transition: all 100ms ease-in;
}

.form_field
{
    margin-top: 15px;
}

.k_fs_thumbnail .file_information {
    position: absolute;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
    left: 2px;
    top: 59px;
    min-width: 75px;
    z-index: 10;
    font-size: small;
    font-weight: normal;
    display: none;
}
.k_fs_thumbnail:hover .file_information {
    display: block;
}

.k_fs_folder_properties .object_selected {
    display: block;
    float: left;
    height: 75px;
    width: 192px;
    border: 1px grey solid;
    border-radius: 5px;
    text-align: center;
    line-height: 75px;
}

.k_fs_folder_properties .object_selected:hover {
    background-color: #d3d3d3;
}

.k_fs_folder_properties .objects_selection {
    overflow-y: scroll;
    height: 200px;
}

.k_fs_current_address {
    height: 14px;
    border: 1px #d3d3d3 solid;
    background-color: white;
    padding: 4px;
    font-weight: bold;
    margin-left: 34px;
    width: 456px;
    float: left;
    margin-top: 3px;
}