<form action="javascript:void(0);" method="post" class="k_fs_folder_creation_form" enctype="multipart/form-data">
    <div class="form_field">
        <label for="folder_name_creation">Folder name</label>
        <input type="text" id="folder_name_creation" name="name"/>
    </div>
    <input type="hidden" name="parent_folder" value="<%= parent_folder_id %>" />
    <input type="submit" class="k_fs_folder_creation_button" value="Send file"/>
    <input type="reset" class="k_fs_folder_creation_cancel_button" value="Cancel" />
</form>