<div class="form_field">
    <label>Name</label>
    <input type="text" class="k_fs_foldp_name" value="<%= folder.get('name') %>"/>
</div>
<div>
    <div>
        <input type="text" class="k_fs_foldp_user_search_input" placeholder="Search for users" />
    </div>
    <div class="k_fs_users_choice">
        Search result
        <div style="clear:both"></div>
        <div class="k_fs_foldp_user_search_results">

        </div>
        <div style="clear: both"></div>
        Selected users
        <div style="clear:both"></div>
        <div class="k_fs_foldp_user_selection">

        </div>
        <div style="clear: both"></div>
    </div>
</div>
<button class="k_fs_folder_properties_validation_button">Save properties</button>
<button class="k_fs_folder_properties_cancel_button">Cancel</button>
