<div style="float:right"><a href="javascript:void(0);" class="k_ds_close_button"><img
        src="/images/icons/cross_close.png"/></a></div>
<div style="clear: both"></div>

<div class="k_fs_left_panel_container">

</div>
<a href="javascript:void(0);" class="k_fs_parent_folder"><img src="/images/icons/arrow_redo.png" /></a>
<div class="k_fs_current_address">/</div>
<div class="k_fs_folder_browser_container">

</div>
<div style="clear: both"></div>
<div class="k_fs_dragdrop_container">

</div>
<div style="clear: both"></div>