<div class="k_fs_save_window_container">
    <div class="browser_control">
        <button class="browser_button" data-action="up"><img src="/images/icons/arrow_redo.png"/></button>
        <div class="address"></div>
    </div>
    <div class="browser">

    </div>

    <div class="save_window_controls">
        <input type="text" class="file_to_save_name" placeholder="Enter the name of the file here..." />
        <button class="control_button" data-action="save">Save</button>
        <button class="control_button" data-action="cancel">Cancel</button>
        <div style="clear:both"></div>
    </div>
    <div class="error_messages">
    </div>
</div>