<div class="logo">
    <img src="/images/logo_big.png" />
</div>

<div class="block">
    <div class="title">Please log in to access</div>
    <form action="/Users/login" method="post" class="pure-form">
        <div class="form_line">
            <label for="username">Username</label>
            <input type="text" id="username" name="name"/>
        </div>
        <div style="clear: right"></div>
        <div class="form_line">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div style="clear: right"></div>
        <div class="form_line">
            <input type="submit" value="Log in"/>
        </div>
        <div style="clear: right"></div>
    </form>
</div>