<div class="pure-g-r">
    <div class="user_info pure-u-1-4">
        <div>
            <div class="picture">
                <img src="http://placehold.it/250x250" alt="user_picture"/>
            </div>
            <div class="username">
                <%= user.get("username") %>
            </div>
            <div class="email">
                <%= user.get("email") %>
            </div>
        </div>
    </div>
    <div class="pure-u-3-4 contacts">
        <div>
            <div class="contacts_viewer">
                <h3>His contacts</h3>
                <ul class="contact_list">

                </ul>
            </div>
        </div>
    </div>
</div>