<div class="k_chat_discussion_creation">
    <div style="float: right"><a class="k_chat_dc_close_window" href="javascript:void(0);"><img
            src="/images/icons/cross_close.png"/></a></div>
    <form type="post" action="javascript:void(0);">
        <div class="form_field">
            <label for="discussion_name">Name of the discussion</label>
            <input id="discussion_name" class="k_chat_dc_name_input" type="text" name="name"/>
        </div>
        <div class="form_field">
            <label for="search_field">Add users to this conversation</label>
            <input type="text" id="search_field" class="k_chat_dc_user_search_input"/>
        </div>
        <div>


            <div class="k_chat_dc_users_choice">
                Search result
                <div style="clear:both"></div>
                <div class="k_chat_dc_user_search_result">

                </div>
                Selected users
                <div style="clear:both"></div>
                <div class="k_chat_dc_user_selection">

                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <button class="k_chat_dc_validation_button">Create discussion</button>
    </form>
</div>