.notif_list {
    text-align: left;
}

.notif_list a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.notif_list li {
    height: 16px;
    background: url(/images/icons/bell.png) no-repeat 0px 0px;
    padding-left: 16px;
}