<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SmartBlocks</title>

    <link rel="stylesheet" href="/css/reset.css" type="text/css" />

    <script src="{{ _socket_serv }}/socket.io/socket.io.js"></script>
    <script src="/javascript/require.js" type="text/javascript"></script>

    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <script src="/javascript/jquery.js"></script>
    {#<script type="text/javascript" src="http://api.webshell.io/sdk/js?key=ff2d12da47afe0f0548d3e7df95095e5"></script>#}

    <meta name="viewport" content="user-scalable=no, width=device-width,
      initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5" />

    <link rel="stylesheet" href="/css/purecss.css" />
    <link rel="stylesheet/less" type="text/css" href="/css/default.less" />
    <link rel="stylesheet" type="text/css" href="/css/fullcalendar.css" />
    <link rel="stylesheet/less" type="text/css" href="/Apps/Common/Css/progress_bar.less" />
    <link rel="stylesheet/less" type="text/css" href="/Apps/Common/Css/loading_screen.less" />

    <link rel="stylesheet/less" type="text/css" href="/Blocks/style_list" />
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

</head>
<body>
<div id="flash_shower">
    <div id="flash_message"></div>
    <div style="clear:both"></div>
</div>
<div id="container">
    <div id="top_content"></div>
    <div id="inner_container">
        <div id="content">
            {{ _content_for_layout_|raw }}
        </div>
    </div>
    <div id="bottom_content"></div>
</div>
<script type="text/javascript" src="/Apps/Common/requireConfig.js"></script>
<script type="text/javascript" src="/Apps/Common/main.js"></script>
<script src="/javascript/less.js" type="text/javascript"></script>
<!-- End Piwik Code -->
</body>
</html>